.md-header {
    background-color: #00a3af;
    color: #fff;
}

.md-tabs__inner {
    background-color: #00a3af;
}

nav.md-tabs {
    background-color: #00a3af;
}

.md-tabs--active {
    color: #ffffff !important;
}

.md-footer {
    background-color: #575a60;
}